WS_URL=ws://127.0.0.1:3001
WS_TOKEN=


BOT_QQ=3949843218
BOT_NAME=珞樱

OPENAI_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=
OPENAI_MODEL=deepseek-chat
LLM_TEMPERATURE=1.0
OPENAI_ENABLE_THINKING=false

CODER_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
CODER_API_KEY=
CODER_MODEL=qwen3-max
CODER_TEMPERATURE=0.2

QWEATHER_API_KEY=
WEATHER_BASE_URL=https://pn6yvyt6je.re.qweatherapi.com/v7/weather/now

TAVILY_API_KEY=

VERSION=v2.4.0


USER_MEMORY_DIR=./src/data/user_memory
DATA_DIR=./src/data
MEMO_DIR=./src/data/memo
QUICK_REPLY_FILE=./src/data/quick_replies.json
USER_DB_FILE=./src/data/userdatabase.json
REMINDER_DB_FILE=./src/data/reminders.json
OPS=2564664062
SPECIFIC_GROUP_IDS=1087614373,955571307,1042887156
TRIGGER_PREFIX=/,!,。

HELP=https://www.cnblogs.com/mornhus-xsylf-123/p/19731597
LOG=https://www.cnblogs.com/mornhus-xsylf-123/p/19665490


SCRIPT_WORKSPACE_DIR=./src/data/scripts
PYTHON_SCRIPT_TIMEOUT_SEC=20

IMAGE_API_KEY=
IMAGE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
IMAGE_MODEL=qwen3.5-flash

MEMORY_MAX_MESSAGES_PER_THREAD=80
AGENT_SKILL_TIMEOUT_SEC=360
AGENT_TOTAL_TIMEOUT_SEC=6000
MAX_CONCURRENT_MESSAGE_TASKS=200


