# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example
deploy/kb/directus.env
deploy/kb/ragflow/ragflow-logs/

data/

*.zip

suggest.md
