<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>学科专业-武汉大学人工智能学院</title><meta name="pageType" content="2">
<meta name="pageTitle" content="学科专业">


<META Name="SiteName" Content="武汉大学人工智能学院" />
<META Name="SiteDomain" Content="sai.whu.edu.cn" />
<META Name="ColumnName" Content="学科专业" />
<META Name="ColumnKeywords" Content="学科专业" />


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="msapplication-TileImage" content="/dfiles/8515/whu_rgzn/images/favicon.png">
<meta name="msapplication-TileColor" content="">
<meta name="renderer" content="webkit">
<link href="../images/favicon.png" rel="icon" sizes="72*72">
<link href="../images/favicon.png" rel="apple-touch-icon-precomposed">
<link href="../dfiles/8515/whu_rgzn/css/aniuge_public.css" rel="stylesheet">
<link href="../dfiles/8515/whu_rgzn/css/aniuge_index.css" rel="stylesheet">
<link href="../dfiles/8515/whu_rgzn/css/css.css" rel="stylesheet">
<link href="../dfiles/8515/whu_rgzn/css/nycss2.css" rel="stylesheet">
<script type="text/javascript" src="../dfiles/8515/whu_rgzn/js/jq.js"></script>
<script type="text/javascript" src="../dfiles/8515/whu_rgzn/js/slide.js"></script>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230747f475750515742000300014351 -->
<link rel="stylesheet" type="text/css" href="../list_xkzy.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1101,'/list_xkzy.jsp',-1,2088762141)</script>
</head>
<body>
<section class="pc_hb">
<section class="pc_h">

  <header id="header">
    <div class="wp flex">
      <div id="logo"> <a href="../index.htm" title="武汉大学人工智能学院" target=""> <img src="../dfiles/8515/whu_rgzn/images/logo_b.svg" alt="" class="i1"> <img src="../dfiles/8515/whu_rgzn/images/logo_h.svg" alt="" class="i2"> </a> </div>
      <div class="right">
        <div class="top flex">
         <script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script> <ul class="list1 flex">
 
 <li><a href="https://www.whu.edu.cn/" title="武汉大学" class="a" target="_blank">武汉大学</a></li>
            <div class="line1"></div>
            
<li><a href="https://zhlj.whu.edu.cn/pc/index" title="智慧珞珈" class="a" target="_blank">智慧珞珈</a></li>
            <div class="line1"></div>
            
<li><a href="../en/index.htm" title="EN" class="ta" target="_blank" style="display:block;">EN</a></li>
            <div class="line1"></div>
            



            <li> <a name="tss" class="a sou search_btn fr btn" href="javascript:;"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024" width="14" height="14" t="1668842693695" p-id="3553">
              <path d="M 946.176 887.808 l -178.688 -178.688 c 125.44 -154.624 116.224 -382.976 -27.648 -526.848 c -153.6 -153.6 -403.968 -153.6 -557.568 0 s -153.6 403.968 0 557.568 c 76.8 76.8 177.664 115.2 278.528 115.2 c 88.064 0 176.128 -29.184 248.32 -88.064 l 178.688 178.688 c 8.192 8.192 18.432 11.776 29.184 11.776 c 10.24 0 20.992 -4.096 29.184 -11.776 c 15.872 -15.872 15.872 -41.472 0 -57.856 Z M 240.128 681.472 c -121.856 -121.856 -121.856 -320 0 -441.856 C 301.056 179.2 380.928 148.48 460.8 148.48 c 79.872 0 159.744 30.208 220.672 91.136 c 121.856 121.856 121.856 320 0 441.856 c -121.344 121.856 -319.488 121.856 -441.344 0 Z" p-id="3554"></path>
              </svg></a> 
              </li>
              
              </ul>
        </div>
        <nav class="pc_nav" id="nav"> <ul class="flex">
          
                     
            <li> 
            <a href="../index.htm" title="首页">
              <div class="h3">首页</div>
              </a>
              
                              
            </li>
       
                 
            <li class="on"> 
            <a href="xyjj.htm" title="学院概况">
              <div class="h3">学院概况</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="xyjj.htm" title="学院简介">学院简介</a>
       <a href="xkzy.htm" title="学科专业">学科专业</a>
       <a href="xrld.htm" title="现任领导">现任领导</a>
       <a href="jigou/jxzz.htm" title="机构设置">机构设置</a>
       <a href="xyhb.htm" title="学院徽标">学院徽标</a>
       <a href="xcp.htm" title="宣传片">宣传片</a>
       <a href="lxwm.htm" title="联系我们">联系我们</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../teacher/lyys.htm" title="师资队伍">
              <div class="h3">师资队伍</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../teacher/lyys.htm" title="两院院士">两院院士</a>
       <a href="../teacher/rwskzsjs.htm" title="人文社科资深教授">人文社科资深教授</a>
       <a href="../teacher/gccrc.htm" title="高层次人才">高层次人才</a>
       <a href="../teacher/zzjs.htm" title="在职教师">在职教师</a>
       <a href="../teacher/spjs.htm" title="双聘教师">双聘教师</a>
       <a href="../teacher/jzjs.htm" title="兼职教师">兼职教师</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../rencaipy/bkspy.htm" title="人才培养">
              <div class="h3">人才培养</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../rencaipy/bkspy.htm" title="本科生培养">本科生培养</a>
       <a href="../rencaipy/yjspy.htm" title="研究生培养">研究生培养</a>
       <a href="../rencaipy/bks/xwdt.htm" title="本科生工作">本科生工作</a>
       <a href="../rencaipy/yjs/xwdt.htm" title="研究生工作">研究生工作</a>
       <a href="../rencaipy/gjjy.htm" title="国际教育">国际教育</a>
       <a href="../rencaipy/gjjl.htm" title="国际交流">国际交流</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../kxyj.htm" title="科学研究">
              <div class="h3">科学研究</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../kxyj/kyjz.htm" title="科研进展">科研进展</a>
       <a href="../kxyj/xsdt.htm" title="学术动态">学术动态</a>
       <a href="../kxyj/xmsb.htm" title="项目申报">项目申报</a>
       <a href="../kxyj/ptjd.htm" title="平台基地">平台基地</a>
       <a href="../kxyj/jlhz.htm" title="交流合作">交流合作</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../dangqun/djgz/llxx.htm" title="党群工作">
              <div class="h3">党群工作</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../dangqun/djgz/llxx.htm" title="党建工作">党建工作</a>
       <a href="../dangqun/xgyg.htm" title="学工研工">学工研工</a>
       <a href="../dangqun/ghgz.htm" title="工会工作">工会工作</a>
       <a href="../dangqun/gqt/txdt.htm" title="共青团工作">共青团工作</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../recruit/szzp.htm" title="人才招聘">
              <div class="h3">人才招聘</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../recruit/szzp.htm" title="师资招聘">师资招聘</a>
       <a href="../recruit/bshzp.htm" title="博士后招聘">博士后招聘</a>
       <a href="../recruit/fbryzp.htm" title="非编人员招聘">非编人员招聘</a>
                             
                   </div>
              </div>
              
                              
            </li>
       
                 
            <li> 
            <a href="../xxgk.htm" title="信息公开">
              <div class="h3">信息公开</div>
              </a>
              
             
              <div class="sub">
                <div class="box"> 
                
       <a href="../xxgk/gzzd.htm" title="规章制度">规章制度</a>
       <a href="../xxgk/bslc.htm" title="办事流程">办事流程</a>
       <a href="../xxgk/cyxz.htm" title="常用下载">常用下载</a>
                             
                   </div>
              </div>
              
                              
            </li>
       

 </ul>
</nav>
      </div>
    </div>
  </header>
</section>
</section>
<aside class="search module" id="search1">
<div class="module_container">
<div class="wrapper">




<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2" >
        <div v-if="!isError" class="form1" >
        
            <input type="text" class="input1 fl" placeholder="请输入关键字搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
                <input type="button" class="icon_search fl tran300" value="" v-on:click="onSubmit()">
                
           
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "2088762141";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
</div>
</div>
<span class="close fr"></span> </aside>


<!--wap header-->
<section class="m_header_box">
<header id="m_header">
  <div id="logo"> <a href="../index.htm" title="" onclick=""> <img src="../dfiles/8515/whu_rgzn/images/logo_h.png"> </a> </div>
  <ul class="list1 flex">
    <li> <a name="tss" class="a search_btn fr btn" href="javascript:;"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024" width="14" height="14" t="1668842693695" p-id="3553">
      <path d="M 946.176 887.808 l -178.688 -178.688 c 125.44 -154.624 116.224 -382.976 -27.648 -526.848 c -153.6 -153.6 -403.968 -153.6 -557.568 0 s -153.6 403.968 0 557.568 c 76.8 76.8 177.664 115.2 278.528 115.2 c 88.064 0 176.128 -29.184 248.32 -88.064 l 178.688 178.688 c 8.192 8.192 18.432 11.776 29.184 11.776 c 10.24 0 20.992 -4.096 29.184 -11.776 c 15.872 -15.872 15.872 -41.472 0 -57.856 Z M 240.128 681.472 c -121.856 -121.856 -121.856 -320 0 -441.856 C 301.056 179.2 380.928 148.48 460.8 148.48 c 79.872 0 159.744 30.208 220.672 91.136 c 121.856 121.856 121.856 320 0 441.856 c -121.344 121.856 -319.488 121.856 -441.344 0 Z" p-id="3554" />
      </svg> </a> </li>
  </ul>
  <div id="nav_btn_box">
    <aside id="nav_btn">
      <div class="point" id="mbtn" name="1"> <span class="navbtn"></span> </div>
    </aside>
  </div>
</header>
</section>
<nav id="m_nav">

 <ul class="list_box_nav_mobile">  
          
        
  <li>
  <a href="../index.htm" title="首页">
    <div class="h3">首页</div>
    </a>
     
  </li>
  
    
  <li>
  <a href="xyjj.htm" title="学院概况">
    <div class="h3">学院概况</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="xyjj.htm" title="学院简介">学院简介</a>
       <a href="xkzy.htm" title="学科专业">学科专业</a>
       <a href="xrld.htm" title="现任领导">现任领导</a>
       <a href="jigou/jxzz.htm" title="机构设置">机构设置</a>
       <a href="xyhb.htm" title="学院徽标">学院徽标</a>
       <a href="xcp.htm" title="宣传片">宣传片</a>
       <a href="lxwm.htm" title="联系我们">联系我们</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../teacher/lyys.htm" title="师资队伍">
    <div class="h3">师资队伍</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../teacher/lyys.htm" title="两院院士">两院院士</a>
       <a href="../teacher/rwskzsjs.htm" title="人文社科资深教授">人文社科资深教授</a>
       <a href="../teacher/gccrc.htm" title="高层次人才">高层次人才</a>
       <a href="../teacher/zzjs.htm" title="在职教师">在职教师</a>
       <a href="../teacher/spjs.htm" title="双聘教师">双聘教师</a>
       <a href="../teacher/jzjs.htm" title="兼职教师">兼职教师</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../rencaipy/bkspy.htm" title="人才培养">
    <div class="h3">人才培养</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../rencaipy/bkspy.htm" title="本科生培养">本科生培养</a>
       <a href="../rencaipy/yjspy.htm" title="研究生培养">研究生培养</a>
       <a href="../rencaipy/bks/xwdt.htm" title="本科生工作">本科生工作</a>
       <a href="../rencaipy/yjs/xwdt.htm" title="研究生工作">研究生工作</a>
       <a href="../rencaipy/gjjy.htm" title="国际教育">国际教育</a>
       <a href="../rencaipy/gjjl.htm" title="国际交流">国际交流</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../kxyj.htm" title="科学研究">
    <div class="h3">科学研究</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../kxyj/kyjz.htm" title="科研进展">科研进展</a>
       <a href="../kxyj/xsdt.htm" title="学术动态">学术动态</a>
       <a href="../kxyj/xmsb.htm" title="项目申报">项目申报</a>
       <a href="../kxyj/ptjd.htm" title="平台基地">平台基地</a>
       <a href="../kxyj/jlhz.htm" title="交流合作">交流合作</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../dangqun/djgz/llxx.htm" title="党群工作">
    <div class="h3">党群工作</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../dangqun/djgz/llxx.htm" title="党建工作">党建工作</a>
       <a href="../dangqun/xgyg.htm" title="学工研工">学工研工</a>
       <a href="../dangqun/ghgz.htm" title="工会工作">工会工作</a>
       <a href="../dangqun/gqt/txdt.htm" title="共青团工作">共青团工作</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../recruit/szzp.htm" title="人才招聘">
    <div class="h3">人才招聘</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../recruit/szzp.htm" title="师资招聘">师资招聘</a>
       <a href="../recruit/bshzp.htm" title="博士后招聘">博士后招聘</a>
       <a href="../recruit/fbryzp.htm" title="非编人员招聘">非编人员招聘</a>
                  </div>
    </div>
     
  </li>
  
    
  <li>
  <a href="../xxgk.htm" title="信息公开">
    <div class="h3">信息公开</div>
    </a>
     <i><svg t="1701918649210" class="icon" viewbox="0 0 1024 1024" p-id="4220">
    <path d="M512 670.72l-450.56-450.56-61.44 61.44 506.88 517.12 517.12-512-61.44-61.44L512 670.72z" p-id="4221"></path>
    </svg></i>
    <div class="sub">
      <div class="box"> 
       <a href="../xxgk/gzzd.htm" title="规章制度">规章制度</a>
       <a href="../xxgk/bslc.htm" title="办事流程">办事流程</a>
       <a href="../xxgk/cyxz.htm" title="常用下载">常用下载</a>
                  </div>
    </div>
     
  </li>
  

  
</ul>


<ul class="list1 flex">
  <li><a href="https://www.whu.edu.cn/" target="_blank" class="a">武汉大学</a></li>
  <div class="line1"></div>            
  <li><a href="https://zhlj.whu.edu.cn/pc/index" target="_blank" class="a">智慧珞珈</a></li>
  <div class="line1"></div>            
</ul>



</nav>

<script type="text/javascript" src="../dfiles/8515/whu_rgzn/js/jq.js"></script>
<script type="text/javascript" src="../dfiles/8515/whu_rgzn/js/slide.js"></script>

<section class="nav_mask"></section><main>
  <div data-scroll="">
    <div class="n_banner">
      <div class="img imgBox">
      
          <div class="imgLi" style="background: url(../dfiles/8515/whu_rgzn/images/bannerny15.jpg) center no-repeat;"></div>
        
        
      </div>
      <div class="top">
        <div class="wp flex">
          <div class="mianbao flex">您当前位置：
    <a href="../index.htm">首页</a><span>&gt;&gt;</span>
    <a href="xyjj.htm">学院概况</a><span>&gt;&gt;</span>
    <a href="xkzy.htm">学科专业</a><span>&gt;&gt;</span>
</div>
        </div>
      </div>
    </div>    <section id="m_n_nav">
<div id="n_n_title">
    <a class="iconfont" id="bnt_back" href="javascript:history.go(-1)"><img alt="" src="../dfiles/8515/whu_rgzn/images/nav_left_wap.svg"></a>
    <h1>
学院概况</h1>
    <div class="iconfont" id="bnt_sub_nav"><img alt="" src="../dfiles/8515/whu_rgzn/images/nav_right_wap.svg"></div>
</div>
<div id="sub_nav_content">

 <dl>
        
  <dt><a href="xyjj.htm" title="学院简介">学院简介</a></dt>
    
    
  <dt class="on"><a href="xkzy.htm" title="学科专业">学科专业</a></dt>
    
    
  <dt><a href="xrld.htm" title="现任领导">现任领导</a></dt>
    
    
  <dt><a href="jigou/jxzz.htm" title="机构设置">机构设置</a></dt>
    
    
  <dt><a href="xyhb.htm" title="学院徽标">学院徽标</a></dt>
    
    
  <dt><a href="xcp.htm" title="宣传片">宣传片</a></dt>
    
    
  <dt><a href="lxwm.htm" title="联系我们">联系我们</a></dt>
    
 </dl>       

</div>
</section>
<div class="clear"></div>    <div class="n_container n_b1 n_bg1">
      <div class="wp flex">
        <div class="nLeft">
  <div class="n_t1">
    <h3>
学院概况</h3>
  </div>
  <div class="ejBox"><ul class="list_ej">
      
<li><a href="xyjj.htm" title="学院简介" class="a"><span>学院简介</span></a></li>
      
<li class="on"><a href="xkzy.htm" title="学科专业" class="a"><span>学科专业</span></a></li>
      
<li><a href="xrld.htm" title="现任领导" class="a"><span>现任领导</span></a></li>
      
<li><a href="jigou/jxzz.htm" title="机构设置" class="a"><span>机构设置</span></a></li>
      
<li><a href="xyhb.htm" title="学院徽标" class="a"><span>学院徽标</span></a></li>
      
<li><a href="xcp.htm" title="宣传片" class="a"><span>宣传片</span></a></li>
      
<li><a href="lxwm.htm" title="联系我们" class="a"><span>联系我们</span></a></li>
      
</ul></div>
</div>
        <div class="nRight jgsz">
          <div class="tit2 aos-init aos-animate" data-aos="fade-down">
            <h3>
学科专业</h3>
          </div>
          <div class="orgWrap">




<script language="javascript" src="/system/resource/js/ajax.js"></script><script language="javascript">_getBatchClickTimes('null',2088762141,'wbnews','u12')</script>
<script>function seeContenta12(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta12('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
<script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<script>_addDynClicks('wbnews',2088762141,2121)</script>

 
    <div id="vsb_content_2121_u121"><div id="vsb_content"><p style="text-indent: 2em;font-size:18px; line-height:35px;">人工智能学院负责智能科学与技术学科、学位点、专业建设等工作，设人工智能理论系、人工智能应用系，设人工智能研究院和实验教学中心。</p><p><br></p><div class="item item1"><h5 class="tit">本科专业</h5><div class="cont"><dl><dt>专业名称：</dt><dd>人工智能</dd></dl></div></div><div class="item item1"><h5 class="tit">硕士学位点</h5><div class="cont"><dl><dt>学术型硕士学位点：</dt><dd>智能科学与技术</dd></dl><dl><dt>专业型硕士学位点：</dt><dd>电子信息</dd></dl></div></div><div class="item item1"><h5 class="tit">博士学位点</h5><div class="cont"><dl><dt>学术型博士学位点：</dt><dd>智能科学与技术</dd></dl><dl><dt>专业型博士学位点：</dt><dd>电子信息</dd></dl></div></div></div></div>
    
    
</div>
        
        
        
        </div>
      </div>
    </div>
  
<div class="footer">
  <div class="wp_pc clearfix">
      <div class="footLogo"><a href="../index.htm"><img src="../dfiles/8515/whu_rgzn/images/logo_b.svg"></a></div>
      <div class="banQuan"><p>版权所有 © 武汉大学人工智能学院 &nbsp;<span>地址：湖北省武汉市武昌区八一路299号</span></p><p>邮编：430072<span>邮箱：whusai@whu.edu.cn</span></p></div>
      <div class="ewm"><img src="../dfiles/8515/whu_rgzn/images/ewm.png">
                  <p>微信公众号</p></div>
  </div>
</div>


</div>
</main>
<div class="hide" id="gotop">TOP</div>
<script src="../dfiles/8515/whu_rgzn/js/aniuge_dh.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/aniuge_scroll.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/style.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/index.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/imagesloaded.pkgd.min.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/aniugeparallax.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/vivus.js"></script> 
<script src="../dfiles/8515/whu_rgzn/js/wow.min.js"></script> 
<script>
        new WOW().init();
         jQuery(".generalCont").slide({
                mainCell: ".bd ul",
                effect: "left",
                autoPlay: true
            });
        
    
    </script>
</body>
</html>
