DIRECTUS_HTTP_PORT=8055
DIRECTUS_PUBLIC_URL=http://localhost:8055
DIRECTUS_DB_NAME=directus
DIRECTUS_DB_USER=directus
DIRECTUS_DB_PASSWORD=change-me
DIRECTUS_SECRET=change-me
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=change-me
DIRECTUS_ADMIN_TOKEN=change-me
